.bgLinear {
  background: #ffe3e8;
  background: linear-gradient(167deg, #fde5de 10%, #facbe4 50%, #f2a0e2 100%);
}
.bgLinearBtn {
  background: #e771b4;
  background: linear-gradient(
    165deg,
    rgba(231, 113, 180, 0.89) 45%,
    rgba(255, 133, 161, 1) 70%,
    rgba(253, 123, 167, 1) 100%
  );
}
.textLinear{
    background: #e771b4;
    background: linear-gradient(
      165deg,
      rgba(231, 113, 180, 0.89) 45%,
      rgba(255, 133, 161, 1) 70%,
      rgba(253, 123, 167, 1) 100%
    );
    -webkit-background-clip: text; /* Clipping background to text */
  -webkit-text-fill-color: transparent; /* Makes the text itself transparent */
  background-clip: text; /* For non-webkit browsers */
  text-fill-color: transparent; /* Makes the text itself transparent for non-webkit browsers */
}