.processCard::after{
  content: "";
  position: absolute;
  height: 28%;
  width: 1px;
  border-radius: 10px;
  background: #b1b1b193;
  bottom: 0;
  margin-left: 5px;
}
.processCard.before::before{
    content: "";
  position: absolute;
  height: 28%;
  width: 1px;
  margin-left: 5px;
  border-radius: 10px;
  background: #b1b1b193;
  top: 0;
}

.icon.g{
  /* background: #e771b4;
  background: linear-gradient(
    165deg,
    rgba(228, 99, 172, 0.89) 30%,
    rgb(239, 82, 145) 60%,
    rgb(235, 38, 104) 100%
  ); */
  color: #fff;
  background: #e771b4;
    background: linear-gradient(
      165deg,
      rgba(231, 113, 180, 0.89) 45%,
      rgba(255, 133, 161, 1) 70%,
      rgba(253, 123, 167, 1) 100%
    );
}
.icon.u,.users.linear{
  background: #e771b4;
    background: linear-gradient(
      165deg,
      rgba(231, 113, 180, 0.89) 45%,
      rgba(255, 133, 161, 1) 70%,
      rgba(253, 123, 167, 1) 100%
    );
}