.job-discover .p1{
    background: #e771b4;
    background: linear-gradient(
      165deg,
      rgba(231, 113, 180, 0.89) 45%,
      rgba(255, 133, 161, 1) 70%,
      rgba(253, 123, 167, 1) 100%
    );
    background: #0b1224; /* A dark base color */
background: linear-gradient(
  167deg,
  rgba(33, 223, 255, 0.9) 20%,  /* Neon cyan */
  rgba(55, 89, 255, 0.85) 50%,  /* Neon blue */
  rgba(255, 20, 147, 0.85) 100% /* Neon pink */
);


background: #0b1224; /* A dark base color */
background: linear-gradient(
  167deg,
  rgba(22, 178, 204, 0.9) 25%,  /* Darker cyan */
  rgba(55, 89, 255, 0.85) 50%,  /* Neon blue */
  rgba(25, 123, 255, 0.85) 100% /* Sky blue */
);
background: linear-gradient(to right, #22d3ee, #3b82f6);

    -webkit-background-clip: text; /* Clipping background to text */
  -webkit-text-fill-color: transparent; /* Makes the text itself transparent */
  background-clip: text; /* For non-webkit browsers */
  text-fill-color: transparent; /* Makes the text itself transparent for non-webkit browsers */
}